// Fonts
$content:           "Ubuntu Light", Helvetica, Arial, sans-serif;

// Colors
$blue:              #037F8C;
$yellow:            #f9fea2;

$white:             #FAFAFA;
$gray:              #222;

// Brand
$brand-color:       #037F8C;
$brand-face:        "Ubuntu", Helvetica, Arial, sans-serif;

// Overrides
$use-grids:         true;
$use-nav:           true;
$use-media:         true;
$use-island:        true;
$use-block-list:    true;
$use-beautons:      true;