/*
 * Colors 
 * #F8DCE8
 * #BF5F7C
 * #703A4E
 * #E092BE
 * #DBE39E
 * #358ABF
 * #5EACBF
*/

/*
 * Typography 
*/
body, p { font-family: 'Open Sans', 'Lucida Grande', 'Lucida Sans', sans-serif; font-rendering: optimzelegitibility }
label, input, select, textarea { font-family: 'Open Sans', 'Lucida Grande', 'Lucida Sans', sans-serif }
h1, h2, h3 { font-family: 'CrimsonRoman', Georgia, serif; }

/*
 * Headings 
*/
h1, h2, h3 {
    font-variant: small-caps;
    letter-spacing: 2px;
}

/*
 * General 
*/
body {
    background: url('../img/bg.jpg') repeat;
}
#logo {
    margin: 10px auto;
    text-align: center;
}
.brand {
    color: #358ABF;
}
pre.code {
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
}
pre.code .tier1 {
    color: #358ABF;
}
pre.code .tier2 {
    color: #5EACBF;
}
a.back-to-top {
    position: fixed;
    top: 500px;
    right: 50px;
    border-radius: 2px;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
}
a.back-to-top:hover {
    text-decoration: none;
}
a.back-to-top:active {
    top: 500px;
}

/*
 * Table of Content 
*/
.toc .main {
    list-style-type: upper-roman;
}
.toc ol.sub {
    list-style-type: lower-roman;
}
.toc ul.sub {
    list-style-type: square;
}
.toc li a {
    color: #C0617F;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: all 0.25s linear;
}
.toc li a:hover {
    color: #713A4F;
    border-bottom: 1px solid #713A4F;
}

/*
 * Info List 
*/
.info-list li a {
    color: #358ABF;
}

/*
 * Navigation 
*/
nav[role="navigation"] {
}
nav[role="navigation"] ul {
    padding: 10px 0 0;
    list-style: none;
}
nav[role="navigation"] ul li {
    transition: all 0.25s linear;
}
nav[role="navigation"] ul li a {
    display: block;
    padding: 5px 10px;
    color: #222;
    font-family: 'CrimsonRoman', Georgia, serif;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: all 0.25s linear;
}
nav[role="navigation"] ul li a i{
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25), 0 -1px 0 rgba(255, 255, 255, 0.25);
}
nav[role="navigation"] ul li a:hover {
    color: #fff;
    background: #358ABF;
		box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
nav[role="navigation"] ul li a:active i{
    color: #222;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25), 0 1px 0 rgba(255, 255, 255, 0.25);
}

/*
 * Content 
*/
article[role="content"] {
}

/*
 * Sidebar 
*/
#sidebar {
    
}
.widget .widgettitle {
    color: #222;
    padding: 10px 0 0;
    font-variant: small-caps;
    letter-spacing: 2px;
}
.widget ul {
    list-style: none;
    margin: 1em 0;
}
.widget ul li a {
    display: block;
    padding: 5px 0;
    text-decoration: none;
    transition: all 250ms linear;
}
.widget ul li a:hover{
    color: #C0617F;
    padding: 5px 20px 5px;
}

/*
 * Footer 
*/
footer[role="footer"] {
    color: #222;
    text-align: center;
}
footer[role="footer"] p.attr {
    margin: 0; padding: 1em 0 0;
    font-size: 1em
}
footer[role="footer"] p.attr i {
    vertical-align: middle;
}
footer[role="footer"] p.attr a {
    color: #C0617F;
    border-bottom: 1px solid transparent;
}

/*
 * Selection 
*/
::selection {
    background: rgba(0, 0, 0, 0.05);
}
::-moz-selection {
    background: rgba(0, 0, 0, 0.05);
}
::-webkit-selection 
    background: rgba(0, 0, 0, 0.05);
}