@import "inuit.css";

/*-----------------------------------------*\
    TYPOGRAPHY
\*-----------------------------------------*/
body { font-family: 'Droid Sans', Helvetica, sans-serif !important }
label,
input,
select,
textarea { font-family: 'Droid Sans', Helvetica, sans-serif !important }
h1, h2, h3 {
    font-family: 'Droid Serif', serif !important;
}
/*-----------------------------------------*\
    HEADER
\*-----------------------------------------*/
#header-container {
}
#logo {
    color: #ff0450;
    margin: 10px 0;
    padding: 10px;
    letter-spacing: 5px;
    text-align: center;
    text-transform: lowercase;
    text-shadow: 2px 2px 1px rgba(255, 4, 80, 0.25);
}
/*-----------------------------------------*\
    NAVIGATION
\*-----------------------------------------*/
nav[role="navigation"] {
}
nav[role="navigation"] ul {
    margin: 1em 0;
}
nav[role="navigation"] ul li {
    display: inline-block;
    -moz-transition: all 0.25s linear;
    -webkit-transition: all 0.25s linear;
    transition: all 0.25s linear;
}
nav[role="navigation"] ul li a {
    display: block;
    padding: 0 0.5em 0.25em;
    color: #222;
    font-family: 'Droid Serif', serif;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    -moz-transition: all 0.25s linear;
    -webkit-transition: all 0.25s linear;
    transition: all 0.25s linear;
}
nav[role="navigation"] ul li a:hover {
    color: #ff0450;
    border-bottom: 1px solid #ff0450;
    -moz-transition: all 0.25s linear;
    -webkit-transition: all 0.25s linear;
    transition: all 0.25s linear;
}
/*-----------------------------------------*\
    CONTENT
\*-----------------------------------------*/
#content {
    margin: 50px auto;
    min-height: 300px;
}
/*-----------------------------------------*\
    FOOTER
\*-----------------------------------------*/
#footer {
    color: #222;
    text-align: center;
}
#footer p.copyright {
    margin: 0; padding: 1em;
    font-size: 1em
}